---
import PageHeading from '../components/page-heading.astro'
import PhotoCard from '../components/photo-card.astro'
import Layout from '../layouts/main.astro'
import photo from '../collections/photo.json'

const photos = (photo as Array<{ title: string; date: string; cover: string }>)
  .sort((a, b) => a.date.localeCompare(b.date))
  .map(item => ({
    slug: item.title.toLowerCase(),
    title: item.title,
    description: `${item.date.slice(0, 4)}/${item.date.slice(4, 6)}/${item.date.slice(6)}`,
    image: `/assets/images/photography/${item.date}_${item.title.toLowerCase()}/${item.cover}.jpg`,
  }))
---

<Layout title="摄影">
  <section class="relative z-20 mx-auto max-w-4xl space-y-8 px-4 py-8 sm:px-6 lg:px-8">
      <PageHeading
        title="摄影"
        description="我的摄影作品。尽管多年不再拍照，以前的作品依然可供您观赏。"
      />

    <div class="z-50 my-8 grid w-full grid-cols-1 items-stretch gap-7 sm:grid-cols-2 sm:gap-5">
      {
        photos.map(photo => (
          <PhotoCard
            title={photo.title}
            description={photo.description}
            image={photo.image}
            url={`/photography/${photo.slug}`}
          />
        ))
      }
    </div>
  </section>
</Layout>
