---
import PhotoCard from '../photo-card.astro'
import Button from '../button.astro'
import photo from '../../collections/photo.json'
import { imageImports } from '../../data/imageImports'

const photos = (photo as Array<{ title: string; date: string; cover: string }>).map(item => ({
  slug: item.title.toLowerCase(),
  title: item.title,
  description: `${item.date.slice(0, 4)}/${item.date.slice(4, 6)}/${item.date.slice(6)}`,
  image: imageImports[`${item.date}_${item.title.toLowerCase()}_${item.cover}`],
}))
---

<section class="mx-auto max-w-4xl px-7 lg:px-0">
  <h2 class="text-2xl leading-10 font-bold tracking-tight text-neutral-900 dark:text-neutral-100">
    摄影
  </h2>
  <p class="my-1 text-sm text-neutral-600 dark:text-neutral-400">
    Here are some of my photographs. I'm always shooting something new!
  </p>
  <div class="mt-7 grid w-full grid-cols-1 items-stretch gap-7 sm:grid-cols-2 md:grid-cols-3">
    {
      photos.map(photo => (
        <PhotoCard
          title={photo.title}
          description={photo.description}
          image={photo.image}
          url={`/photography/${photo.slug}`}
        />
      ))
    }
  </div>

  <div class="flex w-full items-center justify-center py-5">
    <Button text="View All Photography" link="/photography" />
  </div>
</section>
