---
import { getCollection } from 'astro:content'
const allPosts = await getCollection('post')

const { count } = Astro.props

function parseDate(dateStr: string) {
  const [year, month, day] = dateStr.split('/').map(Number)
  return new Date(year, month - 1, day)
}

function formatDate(dateStr: string) {
  const date = parseDate(dateStr)
  const y = String(date.getFullYear()).padStart(4, '0')
  const m = String(date.getMonth() + 1).padStart(2, '0')
  const d = String(date.getDate()).padStart(2, '0')
  return `${y}/${m}/${d}`
}

const sortedPosts = allPosts
  .map(post => ({
    ...post,
    date: parseDate(post.data.dateFormatted),
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime())

const postsLoop = sortedPosts.slice(0, count).map(post => {
  return {
    ...(post.data || {}),
    dateFormatted: formatDate(post.data.dateFormatted),
    link: `/post/${post.slug}`,
  }
})
---

{
  postsLoop.map(post => {
    return (
      <div
        class="group relative rounded-2xl border border-dashed border-transparent p-4"
        onclick={`location.href = '${post.link}'`}
      >
        <div class="absolute inset-0 z-20 h-full w-full transform-gpu rounded-2xl border border-dashed border-neutral-300 bg-white duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1 group-focus:-translate-x-1 group-focus:-translate-y-1 group-active:-translate-x-1 group-active:-translate-y-1 dark:border-neutral-600 dark:bg-neutral-900" />
        <div class="absolute inset-0 z-10 h-full w-full transform-gpu rounded-2xl border border-dashed border-neutral-300 duration-300 ease-out group-hover:translate-x-1 group-hover:translate-y-1 group-focus:translate-x-1 group-focus:translate-y-1 group-active:translate-x-1 group-active:translate-y-1 dark:border-neutral-600" />
        <div class="relative z-30 transform-gpu cursor-pointer duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1 group-focus:-translate-x-1 group-focus:-translate-y-1 group-active:-translate-x-1 group-active:-translate-y-1">
          <h2 class="mb-3 flex items-center">
            <a href={post.link} class="text-base font-bold tracking-tight sm:text-lg">
              {post.title}
            </a>
          </h2>
          <p class="text-sm text-neutral-600 dark:text-neutral-400">
            <span>{post.description}</span>
          </p>
          <div class="mt-2.5 font-mono text-xs font-medium text-neutral-600 dark:text-neutral-300">
            {post.dateFormatted}
          </div>
        </div>
      </div>
    )
  })
}
