---
import { Image } from 'astro:assets'
import data from '../../data/commission/commission.json'
import priority from '../../data/commission/priorityList.json'
import IllustratorInfo from './illustrator-info.astro'
import { prepareData } from '../../utils/commission'
import { imageImports } from '../../data/imageImports'

interface Item {
  fileName: string
  Character: string
  Featured: boolean
  Twitter?: string
  Pixiv?: string
  Fantia?: string
  Skeb?: string
}

const flattened = prepareData(data as Item[], priority as Record<string, number>)
---

{
  flattened.map(commission => {
    const src = imageImports[commission.fileName]
    return (
      <div>
        <Image
          src={src}
          width={src.width}
          height={src.height}
          alt={`${commission.Creator} ©️ ${commission.PublishDate}`}
          loading="lazy"
          class="rounded-none! mb-2"
        />
        <IllustratorInfo {...commission} />
      </div>
    )
  })
}
