---
import { Image } from 'astro:assets'
import data from '@/data/commission/commission.json'
import IllustratorInfo from './illustrator-info.astro'
import { imageImports } from '@/data/imageImports'

interface Props {
  character: string
}
const { character } = Astro.props as Props

interface Item {
  fileName: string
  Character: string
  Featured: boolean
  Twitter?: string
  Pixiv?: string
  Fantia?: string
  Skeb?: string
}

const filtered = (data as Item[])
  .map(c => ({
    ...c,
    PublishDate: c.fileName.slice(0, 8),
    Creator: c.fileName.split('_')[1],
  }))
  .filter(c => c.Character === character && !c.Featured)
  .sort((a, b) => b.PublishDate.localeCompare(a.PublishDate))
---

{
  filtered.map(commission => {
    const src = imageImports[commission.fileName]
    return (
      <div>
        <Image
          src={src}
          width={src.width}
          height={src.height}
          alt={`${commission.Creator} ©️ ${commission.PublishDate}`}
          loading="lazy"
          class="mb-4 rounded-none!"
        />
        <IllustratorInfo {...commission} />
      </div>
    )
  })
}
